@import "tailwindcss";

@theme {
  --color-primary: #5637d7;
  --color-primary-dark: #371ab1;
  --color-secondary: #0f172a;
  --color-dark: #1f2529;
  --color-light: #f2f5f7;
  --color-accent: #6366f1;
  --font-sans: "DM Sans", sans-serif;
}

@layer base {
  html {
    font-family: var(--font-sans);
    scroll-behavior: smooth;
  }
}